<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" internalLogFile="internal-nlog.log" internalLogLevel="Debug" >
	<extensions>
		<!--添加扩展Exceptionless​程序集-->
		<add assembly="Exceptionless.NLog"/>
	</extensions>
	<targets async="true">
		<!--写入本地文件-->
		<target name="File" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
				layout=" ${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}| ${newline}" >
		</target>
		<!--上报Exceptionless-->
		<!--xsi:type:固定是Exceptionless-->
		<!--apiKey:即我们在Exceptionless中添加完项目后得到的apiKey-->
		<!--serverUrl:Exceptionless的地址-->
		<target xsi:type="Exceptionless" name="Exceptionless" apiKey="8V1Yv6gk6EDJPyMW6zbk0HTl9aBFJalcnzHsi60C"
				serverUrl="http://127.0.0.1:7012/">
			<!--堆栈信息-->
			<field name="StackTrace" layout="${stacktrace}"/>
			<!--Message信息-->
			<field name="Message" layout="${message}"/>
			<field name="LogLevel" layout="${level}"/>
			<field name="CreateDate" layout="${date}"/>
			<!--物理名称-->
			<field name="MachineName" layout="${machinename}" />
			<!--线程ID-->
			<field name="ThreadId" layout="${threadid}"/>
			<!--发生源-->
			<field name="CallSite" layout="${callsite}"/>
			<field name="AppdomainVersion" layout="${assembly-version}"/>
			<field name="Appdomain" layout="${appdomain}"/>
		</target>
	</targets>
	<rules>
		<!--本地文件-->
		<logger name="*" writeTo="File"/>
		<!--上报Exceptionless-->
		<logger name='*' writeTo='Exceptionless'/>
	</rules>
</nlog>