<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ToolGood.Words" version="3.0.2.4" targetFramework="net48" />
  <package id="ToolGood.Words.FirstPinyin" version="3.0.1.4" targetFramework="net48" />
  <package id="ToolGood.Words.Pinyin" version="3.0.1.4" targetFramework="net48" />
</packages>