<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="NLog.log">

	<variable name="myvar" value="myvalue"/>

	<targets async="true">
		<!--日志写数据库配置-->
		<target name="database" xsi:type="Database" >
			<!--连接配置-->
			<connectionString>server=127.0.0.1;Database=201907;user id=sa;password=123456</connectionString>
				<!--
				//日志数据库脚本文件
				SET ANSI_NULLS ON
				SET QUOTED_IDENTIFIER ON
				CREATE TABLE [dbo].[Log] (
					[Id] [int] IDENTITY(1,1) NOT NULL,
					[MachineName] [nvarchar](50) NOT NULL,
					[Logged] [datetime] NOT NULL,
					[Level] [nvarchar](50) NOT NULL,
					[Message] [nvarchar](max) NOT NULL,
					[Logger] [nvarchar](250) NULL,
					[Callsite] [nvarchar](max) NULL,
					[Exception] [nvarchar](max) NULL,
					CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
					WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
				) ON [PRIMARY]
				-->
			<commandText>
				insert into dbo.Log (MachineName, Logged, Level, Message,Logger, Callsite, Exception)
				values (@MachineName, @Logged, @Level, @Message,@Logger, @Callsite, @Exception);
			</commandText>
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>
	<rules>
		<!--日志写数据库配置-->
		<logger name="*" writeTo="database"/>
	</rules>


	<targets>
		<target xsi:type="File" name="info" fileName="${currentdir}/NLogs/Info/${shortdate}.log" layout="${date} | ${level:upperCase=true} | ${message}" />
		<target xsi:type="File" name="debug" fileName="${currentdir}/NLogs/Debug/${shortdate}.log" layout="${date} | ${level:upperCase=true} | ${message}" />
		<target xsi:type="File" name="error" fileName="${currentdir}/NLogs/Error/${shortdate}.log" layout="${date} | ${level:upperCase=true} | ${message}" />
		<target xsi:type="File" name="trace" fileName="${currentdir}/NLogs/Trace/${shortdate}.log" layout="${date} | ${level:upperCase=true} | ${message}" />
		<target xsi:type="File" name="warn" fileName="${currentdir}/NLogs/Warn/${shortdate}.log" layout="${date} | ${level:upperCase=true} | ${message}" />
		<target xsi:type="File" name="fatal" fileName="${currentdir}/NLogs/fatal/${shortdate}.log" layout="${date} | ${level:upperCase=true} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" />
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debug" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="error" />
		<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="trace" />
		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warn" />
		<logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="fatal" />
	</rules>
</nlog>
